@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
{

    <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-primary"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>

}
