
<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        if (this.User.IsInRole("admin"))
        {
            <li><a href="/Admin/Index" style="color:white">Admin Panel</a></li>
            <li><a href="/Ilan/Index" style="color:white">@User.Identity.Name</a></li>
            <li><a href="/Account/Profil" style="color:white">My Profile</a></li>
            <div class="nav navbar-nav navbar-right" style="padding:10px">

                <a href="/Account/LogOut" class="btn btn-danger"><i class="fa fa-remove" aria-hidden="true"></i> LOG OUT</a>
                <a href="/Ilan/Create" class="btn btn-info"><i class="fa fa-bullhorn" aria-hidden="true"></i> POST AN ADVERTISE</a>

            </div>
        }
        else
        {
            <li><a href="/Ilan/Index" style="color:white">@User.Identity.Name</a></li>
            <li><a href="/Account/Profil" style="color:white">My Profile</a></li>
            <div class="nav navbar-nav navbar-right" style="padding:10px">

                <a href="/Account/LogOut" class="btn btn-danger"><i class="fa fa-remove" aria-hidden="true"></i> LOG OUT</a>
                <a href="/Ilan/Create" class="btn btn-info"><i class="fa fa-bullhorn" aria-hidden="true"></i> POST AN ADVERTISE</a>

            </div>
        }
    }
    else
    {
        <div class="nav navbar-nav navbar-right" style="padding:10px">
            <a href="/Account/Register" class="btn btn-primary"><i class="fa fa-users" aria-hidden="true"></i> SIGN UP</a>
            <a href="/Account/Login" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> LOG IN</a>
            <a href="/Account/Login" class="btn btn-info"><i class="fa fa-bullhorn" aria-hidden="true"></i> POST AN ADVERTISE </a>

        </div>
    }


</ul>
